{% extends 'base_aluno.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base_aluno.css' %}">
{% endblock %}

{% block content %}

<!-- Formulário do Django -->
<form id="form-avaliacao" method="POST" action="{% url 'cadastrar_avaliacao' %}">
    {% csrf_token %}

    <!-- Seleção do destinatário -->
    <select name="tipo" class="form-select" required>
        <option value="" disabled selected>Selecione o tipo</option>
        <option value="1">Cardápio</option>
        <option value="2">Mensagem de carinho</option>
    </select>

    <!-- Área de comentário -->
    <div class="form-floating mt-3">
        <textarea name="mensagem" class="form-control" placeholder="Deixe seu comentário aqui" id="floatingTextarea2" required style="height: 100px;"></textarea>
        <label for="floatingTextarea2">Comentário</label>
    </div>

    <!-- Botões -->
    <div class="d-flex gap-2 mt-3">
        <a href="{% url 'pagina_avaliacoes' %}" id="btn-voltar" class="btn btn-secondary">Voltar</a>
        <button type="submit" id="btn-publicar" class="btn btn-primary">Publicar</button>
    </div>
</form>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/avaliacoes.js' %}"></script>
{% endblock %}