<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - IFome</title>
</head>
<body>

    <div class="login-container">

        <h1>IFome</h1>
        <h2>Faça seu login</h2>

        <form method="post">
            {% csrf_token %}

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">

            <button type="submit">Entrar</button>

            <a href="#">Esqueceu a senha?</a>

            <button type="button">Cancelar</button>
        </form>

    </div>

</body>
</html>